.pizzaCard {
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-border-radius: 20px;
  align-items: center;
  background-color: var(--colorDivInfo);
  border-radius: 20px;
  color: var(--colorTextBlack);
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-evenly;
  margin-bottom: max(2vh, 20px);
  margin: max(1vw, 10px);
  padding: 5px;
}
.pizzaCard .pizzaName {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  margin-bottom: 5px;
  text-align: center;
  width: 90%;
}
.pizzaCard .pizzaSize {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  min-width: 80%;
}
.pizzaCard .pizzaSize button {
  background-color: var(--colorOldRed);
  color: var(--colorNavWhite);
  font-size: 1rem;
  min-width: 25px;
  padding: 5px 10px;
}
.pizzaCard .pizzaSize button:hover {
  background-color: var(--colorRed);
}
.pizzaCard .pizzaFullDescription {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  min-height: 160px;
  width: 90%;
}
.pizzaCard .pizzaFullDescription .pizzaImage {
  align-items: center;
  background-color: var(--colorOldRed);
  display: flex;
  height: auto;
  justify-content: center;
}
.pizzaCard .pizzaFullDescription .pizzaImage img {
  border: solid 2px var(--colorOldRed);
  height: auto;
  min-height: 100px;
  width: 90%;
}
.pizzaCard .pizzaFullDescription .pizzaInfo {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2px;
  width: 45%;
}
.pizzaCard .pizzaFullDescription .pizzaInfo .pizzaDescriptionText {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  max-width: 150px;
  overflow-wrap: break-word;
  text-align: center;
  width: 90%;
}
.pizzaCard .pizzaFullDescription .pizzaInfo .pizzaValue,
.pizzaButtons {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  text-align: center;
  width: 90%;
}
.pizzaButtons {
  flex-direction: column;
}
@media (max-width: 480px) {
  .pizzaCard {
    min-height: 200px;
    width: 260px;
  }
  .pizzaCard .pizzaFullDescription {
    flex-direction: column;
  }
  .pizzaCard .pizzaFullDescription .pizzaImage {
    width: 100%;
  }
  .pizzaCard .pizzaFullDescription .pizzaInfo {
    width: 100%;
  }
  .pizzaCard .pizzaFullDescription .pizzaInfo .pizzaDescriptionText {
    min-width: 100%;
  }
}
@media (min-width: 481px) and (max-width: 769px) {
  .pizzaCard {
    min-height: 250px;
    width: 400px;
  }
  .pizzaCard .pizzaFullDescription .pizzaImage {
    width: 60%;
  }
  .pizzaCard .pizzaFullDescription .pizzaInfo {
    width: 40%;
  }
  .pizzaCard .pizzaFullDescription .pizzaInfo .pizzaDescriptionText {
    min-width: 90%;
  }
}
@media (min-width: 770px) and (max-width: 993px) {
  .pizzaCard {
    min-height: 300px;
    width: 400px;
  }
  .pizzaCard .pizzaFullDescription .pizzaImage {
    width: 55%;
  }
  .pizzaCard .pizzaFullDescription .pizzaInfo {
    width: 45%;
  }
  .pizzaCard .pizzaFullDescription .pizzaInfo .pizzaDescriptionText {
    min-width: 93%;
  }
}
@media (min-width: 993px) {
  .pizzaCard {
    min-height: 300px;
    width: 450px;
  }
  .pizzaCard .pizzaFullDescription .pizzaImage {
    width: 50%;
  }
  .pizzaCard .pizzaFullDescription .pizzaInfo {
    width: 50%;
  }
  .pizzaCard .pizzaFullDescription .pizzaInfo .pizzaDescriptionText {
    min-width: 95%;
  }
}
