.NavBar {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}
.NavBar a {
  align-items: center;
  background-color: var(--colorOldRed);
  color: var(--colorNavWhite);
  display: flex;
  justify-content: center;
  min-width: min(30vw, 25%);
  padding: 2vh;
  text-decoration: none;
}
.NavBar a img {
  align-self: center;
  display: flex;
  max-width: 40px;
}
