footer {
  align-items: center;
  background-color: var(--colorOldRed);
  color: var(--colorTextWhite);
  display: flex;
  height: auto;
  justify-content: center;
  padding: 2vh;
  text-align: center;
  width: 100vw;
}
footer h3 {
  margin: 1vh;
}
