.unselectCategory{
      align-items:center;
      background-color: var(--colorRed);
      color: var(--colorNavWhite);
      display: flex;
      font-family: 'Open Sans', sans-serif;;
      height: auto;
      justify-content: center;
      text-align: center;
      width: 100vw;
      font-size: 2vw;
  }

  @media (max-width: 480px){
    .unselectCategory{ font-size: 2vh;}
  }