body, *{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

a,button{
  font-family: 'Comic Neue', cursive;
}

:root{
  --colorButtonCarousel:#370407;
  --colorDivInfo:#f8f3a499;
  --colorNavWhite:#f6f5f5;
  --colorOldRed:#6e080e;
  --colorOrange:#dc6a10;
  --colorRed:#dc101c;
  --colorTextBlack:#140000;
  --colorTextWhite:#feedee;
  --colorYellow:#dcd010;
}

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Open+Sans:wght@600&display=swap');